Repository GDcheeriosYT/Gentrys-Quest-Classic, pull requests merged in 2022-12, with the labels that each got.

#32 Added to Carter's House
  game/Content/Locations/Iowa/CartersHouse/CartersHouse.py
  game/Content/Locations/Iowa/CartersHouse/Enemies/TheRacoon.py
  game/Content/Locations/Iowa/CartersHouse/Weapons/RacoonPaws.py
Labels: Content

#33 Create executable
  build/pyinstaller.py
  create_exe.bat
  game/Content/ArtifactContentManager.py
  game/Content/Artifacts/MasonJames.py
  game/Content/Artifacts/__init__.py
  game/Content/CharacterContentManager.py
  game/Content/Characters/__init__.py
  game/Content/ContentManager.py
  game/Content/LocationContentManager.py
  game/Content/RandomContentResources/__init__.py
  game/Content/Stories/Intro.py
  game/Entity/Stats/Buff.py
  game/Game.py
  game/GameData.py
  game/Graphics/Status.py
  game/Interface/Interfaces/Testing/Game/TestGameInterface.py
  game/Interface/Interfaces/Testing/Inventory/InventoryTestInterface.py
  game/Location/BattleArea/BattleArea.py
  game/Location/Location.py
  game/Story/Story.py
Labels: important, Content

#41 Implemented Nigeria
  game/Changelog.py
  game/Content/LocationContentManager.py
  game/Content/Locations/Nigeria/Nigeria.py
  game/Content/Locations/Nigeria/PureTabooSet/Enemies/RileyReid.py
  game/Content/Locations/Nigeria/PureTabooSet/Enemies/__init__.py
  game/Content/Locations/Nigeria/PureTabooSet/PureTabooSet.py
  game/Content/Locations/Nigeria/PureTabooSet/Weapons/HandOfExhaust.py
  game/Content/Locations/Nigeria/PureTabooSet/Weapons/__init__.py
  game/Content/Locations/Nigeria/PureTabooSet/__init__.py
  game/Content/Locations/Nigeria/__init__.py
Labels: Content, Locations
