Repository GDcheeriosYT/Gentrys-Quest-Classic, pull requests merged in 2023-01, with the labels that each got.

#49 Implemented online features
  game/Changelog.py
  game/Collection/Inventory/Inventory.py
  game/Collection/ItemList.py
  game/Game.py
  game/Online/API/API.py
  game/Online/API/GetPowerLevel.py
  game/Online/API/Login.py
  game/Online/User/PowerLevel.py
  game/Online/User/User.py
  game/main.py
Labels: enhancement, important

#42 implemented Ohio & China
  game/Changelog.py
  game/Content/LocationContentManager.py
  game/Content/Locations/China/BeiJing/BeiJing.py
  game/Content/Locations/China/BeiJing/Enemies/YiLongMa.py
  game/Content/Locations/China/BeiJing/Enemies/__init__.py
  game/Content/Locations/China/BeiJing/Weapons/Money.py
  game/Content/Locations/China/BeiJing/Weapons/__init__.py
  game/Content/Locations/China/BeiJing/__init__.py
  game/Content/Locations/China/China.py
  game/Content/Locations/China/__init__.py
  game/Content/Locations/Ohio/Ohio.py
  game/Content/Locations/Ohio/OhioCity/Enemies/AmongUsCrewmate.py
  game/Content/Locations/Ohio/OhioCity/Enemies/AmongUsImposter.py
  game/Content/Locations/Ohio/OhioCity/Enemies/ElonMusk.py
  game/Content/Locations/Ohio/OhioCity/Enemies/LiverKing.py
  game/Content/Locations/Ohio/OhioCity/Enemies/SaulGoodman.py
  game/Content/Locations/Ohio/OhioCity/Enemies/WalterWhiteIncarnate.py
  game/Content/Locations/Ohio/OhioCity/Enemies/__init__.py
  game/Content/Locations/Ohio/OhioCity/OhioCity.py
  game/Content/Locations/Ohio/OhioCity/Weapons/BlueMeth.py
  game/Content/Locations/Ohio/OhioCity/Weapons/Briefcase.py
  game/Content/Locations/Ohio/OhioCity/Weapons/Hands.py
  game/Content/Locations/Ohio/OhioCity/Weapons/ImpostersKnife.py
  game/Content/Locations/Ohio/OhioCity/Weapons/LiverBoostedHands.py
  game/Content/Locations/Ohio/OhioCity/Weapons/TeslaStock.py
  game/Content/Locations/Ohio/OhioCity/Weapons/__init__.py
  game/Content/Locations/Ohio/OhioCity/__init__.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/BabyDragon.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/FishNamedBryan.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/HarambesCousin.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/RacoonWith45.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/WinstonOW.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Enemies/__init__.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/OhioZooAndAquarium.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/FinsAndFlippers.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/FireBreath.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/GorillaHands.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/TeslaCanon.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/That45.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/Weapons/__init__.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/__init__.py
  game/Content/Locations/Ohio/__init__.py
  game/Location/BattleArea/BattleArea.py
Labels: Content, Locations

#55 Implement artifacts in ohio
  game/Changelog.py
  game/Content/Artifacts/Ohio.py
  game/Content/Artifacts/__init__.py
  game/Content/Locations/Ohio/OhioCity/OhioCity.py
  game/Content/Locations/Ohio/OhioZooAndAquarium/OhioZooAndAquarium.py
  poetry.lock
  pyproject.toml
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/DESCRIPTION.rst
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/INSTALLER
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/METADATA
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/RECORD
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/REQUESTED
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/WHEEL
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/direct_url.json
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/metadata.json
  venv/lib/python3.8/site-packages/argparse-1.4.0.dist-info/top_level.txt
  venv/lib/python3.8/site-packages/argparse.py
Labels: Content, Artifacts
